@use "../variables" as *;
@use "../mixins" as *;

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  color: $text-dark;
  text-align: center;
  padding: 0 2rem;
  overflow: hidden;
  position: relative;
  background: $background-light;
  @include respond(md) {
    height: auto;
    padding: 6rem 1rem;
  }
}

.hero-content {
  max-width: 800px;
  animation: fade-up 0.8s ease both;

  .header {
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: $secondary-color;
  }

  .intro-info {
    font-size: 1.125rem;
    color: $secondary-color;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
  }
}

// Dark mode
body.dark-mode {
  .hero-section {
    background: $background-dark;
      
    color: $text-dark;

    .header {
      color: $bg-light;
    }

    .intro-info {
      color: $text-dark;
    }
  }
}
