@use "../variables" as *;
@use "../mixins" as *;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-light;
  padding: 1rem 2rem;
  box-shadow: $box-shadow;
  z-index: 1000;

  .navbar-logo a {
    font-weight: 700;
    font-size: 1.2rem;
    color: $primary-color;
    text-decoration: none;

    &:hover{
      transform: scale(1.1);
      color: $accent-color;
    }
  }

  .navbar-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .nav-link {
      text-decoration: none;
      color: $primary-color;
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        transform: scale(1.1);
        color: $accent-color;
      }

      &.active {
        color: $accent-color;
        border-bottom: 2px solid $accent-color;
      }
    }

    &.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 1rem;
      background-color: $bg-light;
      box-shadow: $box-shadow;
      border-radius: 8px;
      padding: 1rem 1.5rem;
      z-index: 2000;
      animation: fadeIn 0.3s ease-in-out;
    }
  }

  .navbar-controls {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    .theme-toggle,
    .menu-toggle {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: $text-light;
      transition: transform 0.2s ease, color 0.3s ease;

      &:hover {
        transform: scale(1.1);
        color: $accent-color;
      }
    }

    .menu-toggle {
      display: none;
    }
  }

  @include respond(mobile) {
    .navbar-links {
      display: none;
    }

    .navbar-controls {
      .menu-toggle {
        display: block;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body.dark-mode {
  .navbar {
    background-color: $primary-color;
    color: $text-light;

    .navbar-logo a {
      color: $bg-dark;

      &:hover{
        transform: scale(1.1);
        color: $bg-light;
      }
    }

        .navbar-links {
          .nav-link {
            color: $text-light;
            
            &.active {
              color: $bg-light;
              border-bottom: 2px solid $bg-light;
            }
    
            &:hover {
              transform: scale(1.1);
              color: $bg-light;
            }
          }
    
        }
    
    .theme-toggle,
    .menu-toggle {
      color: $text-light;

      

    }

    
  }
}
