// 🎨 Colors
$primary-color: #009474;
$secondary-color: #ffffff;
$accent-color: #00ffd5;

$bg-light: #ffffff;
$bg-dark: #121212;
$text-light: #000000;
$text-dark: #ffffff;

//Button
$button-hover-bg-color: #108ead;

// 🧱 Layout
$max-width: 1200px;
$border-radius: 8px;
$spacing-unit: 1rem;

// ✍️ Typography
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// 🕓 Transitions & shadows
$transition-time: 0.3s;
$transition-ease: ease-in-out;
$box-shadow-base: 0 4px 6px rgba(0, 0, 0, 0.1);
$card-bg-dark: #073c49;
$shadow-dark: #2c2c2c;
$box-shadow: #3b3a3a;

